= javascript_include_tag "calendar"
= javascript_include_tag "room_calendar.js"
= javascript_include_tag "room_calender_setting.js"

= render partial: './rooms/step3-header'

.rooms-calendar-main
  .calendar-form
    .calendar-body
      %h2.calendar-body__title
        カレンダーの更新を
      %p.calendar-body__info
        予約不可日 ⇨
        %span.impossible
      %p.calendar-body__info.calendar-info-last
        予約可能日 ⇨
        %span.possible
      %button{ type: "button", class: "calendar-all-button"}
        %span この月は予約OKにする

      .calendar-frame
        #calendar

    .pagenate.clearfix
      .pagenate__button-frame.next-button
        = button_to "次へ", fee_room_path(@room), method: :get, class: "pagenate__button"
