= form_for current_user do |f|
  .profile-required
    .profile-required__head
      .profile-required__title 必須項目

    .required-body

      .profile-item.clearfix
        =f.label :名, class: "profile-item__text", autofocus: true
        .profile-item__input
          =f.text_field :first_name

      .profile-item.clearfix
        =f.label :姓, class: "profile-item__text", autofocus: true
        .profile-item__input
          =f.text_field :last_name
          %p
            公開用プロフィールにはファーストネームのみ表示されます。予約をリクエストする際、ホストにはフルネームが表示されます

      .profile-item.clearfix
        =f.label :性別, class: "profile-item__text", autofocus: true
        .profile-item__input
          .profile-item__input__select
            = f.select :gender, User.genders_i18n.keys.map {|k| [User.genders_i18n[k], k]}
          %p
            この情報は解析用です。他ユーザーに共有されることはありません。

      .profile-item.clearfix
        =f.label :生年月日, class: "profile-item__text", autofocus: true
        .profile-item__input
          .profile-item__input__select
            = f.select :birthday_month, options_for_select((1..12).map{|n| ["#{n}月", n]}, selected: current_user.try(:birthday_month)),  {}, {  class: 'month'}
            = f.select :birthday_day, options_for_select((1..31).map{|n| ["#{n}日", n]}, selected: current_user.try(:birthday_day)),  {}, { class: 'day'}
            = f.select :birthday_year, options_for_select((-2018..-1900).map{|n| ["#{- n.to_i}年", - n.to_i]}, selected: current_user.try(:birthday_year)),  {}, { class: 'year'}
          %p
            あなたがこの世に生を受けた記念すべき日。この大切な個人情報は決して外部使用されることはありませんので、ご安心ください。

      .profile-item.clearfix
        =f.label :メールアドレス, class: "profile-item__text", autofocus: true
        .profile-item__input
          =f.text_field :email
          %p
            メールアドレスが一般のAirbnbユーザーに共有されることはありません。詳細はこちら。

      .profile-item.clearfix
        =f.label :電話番号, class: "profile-item__text", autofocus: true
        .profile-item__input
          =f.text_field :tel_number
          %p
            この情報は関係者同士の連絡手段。予約確定「後」まで先方のAirbnbユーザーにも秘密です。

      .profile-item.clearfix
        =f.label :ご希望の言語, class: "profile-item__text", autofocus: true
        .profile-item__input
          .profile-item__input__select
            = f.select :preferred_locale, [["未選択", ""], ["日本語", "ja"], ["English", "en"], ["한국어", "ko"]],  {}, { autofocus: 'true', class: ''}
          %p
            受け取るメッセージの表示言語です。

      .profile-item.clearfix
        =f.label :ご希望の通貨, class: "profile-item__text", autofocus: true
        .profile-item__input
          .profile-item__input__select
            = f.select :native_currency, [["未選択", ""], ["日本円", "JPY"], ["米ドル", "USD"], ["韓国ウォン", "KRW"]],  {}, { autofocus: 'true', class: ''}
          %p
            この通貨で価格を表示します。

      .profile-item.clearfix
        =f.label :現住所, class: "profile-item__text", autofocus: true
        .profile-item__input
          =f.text_field :current_city, placeholder: "例:フランスパリ、ニューヨーク州ブルックリン"

      .profile-item.clearfix
        =f.label :自己紹介, class: "profile-item__text", autofocus: true
        .profile-item__input
          =f.text_area :about
          %p
            Airbnbの基本は人間関係です。自分を知ってもらう努力をしましょう。
            %br
            %br
            好きなものを教えてください。これなしでは生きていけないものを5つ挙げるとしたら何ですか？　お気に入りの旅先、本、映画、番組、音楽、食べ物は？　
            %br
            %br
            自分はゲストやホストとしてどうでしょう？　旅のスタイル（こだわり、流儀）、Airbnbでホストする際のスタイルを教えてください。
            %br
            %br
            自分の人柄も知ってもらいましょう。人生のモットーは何ですか？

  = f.button "保存する", type: "submit", class: "profile-send-button"
