.house-item
  %a.house-item__image{href: "/rooms/#{room.id}"}
    - if room.room_images.present?
      %img{alt: "no-image", src: room.room_images.first.image.url, style: "width: 100%;"}
    - else
      %img{alt: "no-image", src: "#", style: "width: 100%;"}
    .house-item-text
      .house-item-text__kind
        #{room.room_building_type} · #{room.state}
      .house-item-text__name
        #{room.title}
      .house-item-text__fee
        ¥ #{humanized_money room.day_fee_cents}/泊·キャンセル無料
      .house-item-text__rate
        %span ★★★★★
        %span スーパーホスト
