= render partial: 'step1-header'

.rooms-new-main
  .rooms-form
    .rooms-form-body
      .rooms-form-body__title
        バスルームの数

      = form_for @room, url: { controllers: :rooms, action: :location } do |f|
        .bed-count
          = f.label :バスルームの数, class: "bed-count__sub"
          = f.button "+", type: "button", class: "bed-count__spinner-up spinner-button"
          = f.text_field :bathroom_number, class: "bed-count__input number-input", value: "1", tabindex: "1"
          = f.button "−", type: "button", class: "bed-count__spinner-down spinner-button"

        .pagenate.clearfix
          / .pagenate__button-frame.back-button
          /   = link_to "戻る", bedrooms_room_path, class: "pagenate__button"
          .pagenate__button-frame.next-button
            = f.button "次へ", type: "submit", class: "pagenate__button"
