= render partial: 'step1-header'

.rooms-new-main
  .rooms-form
    .rooms-form-body
      .rooms-form-body__title
        最大何人まで宿泊可能ですか?
      = form_for @room, url: { controllers: :rooms, action: :bathrooms } do |f|
        .capacity-count
          = f.label :定員, class: "capacity-count__info"
          = f.text_field :person_capacity, class: "capacity-count__input", value: "1", tabindex: "1"
          .capacity-count__button
            = f.button "+", type: "button", class: "capacity-count__spinner-up"
            = f.button "−", type: "button", class: "capacity-count__spinner-down"

        .bedroom-count
          %p.bedroom-count__info
            ゲストが使用できるベッドルーム数は?
          .bedroom-count__form
            = f.select :bedroom_number, options_for_select((1..50).map{|n| ["#{n}ベッドルーム", n]}, selected: current_user.try(:birthday_month)),  {}, {  class: 'bedroom-count__input'}

        .bed-count
          %p.bed-count__info
            ゲスト用のベッド台数は?
          %p
            = f.text_field :bed_number, class: "bed-count__input", value: "1", tabindex: "2"
            .bed-count__button
              = f.button "+", type: "button", class: "bed-count__spinner-up"
              = f.button "−", type: "button", class: "bed-count__spinner-down"

        .pagenate
          .pagenate__next-button
            = f.button "次へ", type: "submit"
