= render partial: "./header"

.confirmation-main.clearfix
  .confirmation-form
    .confirmation-form-body
      .confirmation-form-body__title
        だいぶはかどりましたね、#{current_user.first_name}さん！
      .confirmation-form-body__question
        さあ、今度はリスティング掲載用にお部屋の詳しい説明を書きましょう。

      .review-step1
        .review-step1__text
          ステップ1
        .review-step1__info
          ベッド数、バスルーム数、アメニティなど
        = link_to room_type_room_path(@room), class: "review-step1__link" do
          変更する

      .review-step2
        .review-step2__text
          ステップ2
        .review-step2__title
          次に特徴をPR
        .review-step2__info
          写真、概要、タイトル

        = link_to photos_room_path(@room), class: "review-step2__link" do
          変更する

      .review-step3
        .review-step3__text
          ステップ3
        .review-step3__title
          予約準備を整えてフィニッシュ！
        .review-step3__info
          予約受付設定、カレンダー、料金

        = link_to room_room_calendars_path(@room), class: "review-step2__link" do
          変更する

  .confirmation-right-image
    %img{ src: "/assets/photos.png", style: "height: 40vw;"}
