= javascript_include_tag "sales.js"

= render partial: './rooms/step3-header'

.rooms-new-main
  .rooms-form
    .rooms-form-body
      %h2.rooms-form-body__title
        お部屋の料金
      = form_for @room, url: availability_questions_room_path do |f|
        .fee-info
          予約が入る機会を増やそう
          %br
          スマートプライシングを設定すると、地域の需要変動に合わせて競争力のある価格が自動的に適用されます。
        %h3.fee-sub
          1泊あたりの料金を同じ基本料金に設定する
        .fee-basic
          .fee-basic__title
            基本料金
          .fee-basic__info
            スマートプライシングを一泊オフにした場合、それがデフォルト料金になります。
          .fee-basic__input
            = f.text_field :day_fee, data: { autonumeric: { mDec: 0 } }
            / f.text_field :amount, data: { autonumeric: true } %>

        .fee-currency
          .fee-currency__title
            通貨
          .fee-currency__input
            = f.select :currency, Room.currencies_i18n.keys.map {|k| [Room.currencies_i18n[k], k]}

        .pagenate.clearfix
          / .pagenate__button-frame.back-button
          /   = link_to "戻る", bedrooms_room_path, class: "pagenate__button"
          .pagenate__button-frame.next-button
            = f.button "次へ", type: "submit", class: "pagenate__button"


