= javascript_include_tag "room_image_upload.js"

= render partial: "step2-header"

.photos-back
  .photos-main
    .photos-body
      .photos-body__title
        お部屋の様子を写真で旅行者に紹介しよう

      = form_for [@room, @room_image], url: { controllers: :rooms, action: :photos_create } do |f|
        - if @room.room_images.empty?
          .add-photos
            .add-photos__first
              - @room.room_images.each do |image|
                %img{src: image.image, style:" width: 100%;"}
            .add-photos__more
              = f.label :image, class: "photos-frame__field" do
                写真をアップロード
                = f.file_field :image, class: "photos-frame__hidden"
        - else
          .photos-form
            .photos-frame
              = f.label :image, class: "photos-frame__field" do
                写真をアップロード
                = f.file_field :image, class: "photos-frame__hidden"

          .add-photos.photos-form-hidden
            .add-photos__first
            .add-photos__more

        .pagenate.clearfix
          .pagenate__button-frame.next-button
            = link_to "次へ", description_room_path(@room), class: "pagenate__button"


