= javascript_include_tag "room_image_upload.js"

= render partial: "step2-header"

.photos-back
  .photos-main
    .photos-body
      .photos-body__title
        お部屋の様子を写真で旅行者に紹介しよう

      = form_for [@room, @room_image], url: { controllers: :rooms, action: :photos_create } do |f|
        .photos-form
          .photos-frame
            = f.label :image, class: "photos-frame__field" do
              写真をアップロード
              = f.file_field :image, class: "photos-frame__hidden"

        .add-photos.photos-form-hidden
          .add-photos__first
          .add-photos__more

        .pagenate
          .pagenate__next-button
            = link_to '次へ', description_room_path(@room)
