= render partial: "./header"
= render partial: "./favorites/favorite_modal"

.s-main{"data-room-id": @room.id}
  .s-top-wrapper
    %img{src: "https://minpakukyoka.com/wp-content/uploads/2016/04/maara.jpg"}
    %bottun.save-button.btn{"data-id": ""}
      - if current_user.favorites.find_by(room_id: @room.id).present?
        %i{class: "fa fa-heart s-like-button",style: "margin-right: 2px; color: red;"}
        %span 保存
      - else
        %i{class: "fa fa-heart s-like-button",style: "margin-right: 2px;"}
        %span 保存
    %bottun.share-button.btn{"data-id": ""}
      %i{class: "fa fa-angle-double-up",style: "margin-right: 2px;"}
      %span シェアする
    %bottun.photo-button.btn{"data-id": ""}
      %span 写真表示

  .s-main-wrapper
    .s-main-body.clearfix

      .s-main-left
        .s-main-left-body

          .s-info-head
            .s-info-head__type
              = @room.room_type_i18n
            .clearfix
              .s-info-head__main
                %h1.s-info-head__title
                  = @room.title
                .s-info-head__adrress
                  = @room.state
              %a.s-info-head__user{href: "#{}"}
                - if @room.user.avatar.present?
                  %img.s-info-head__user-avatar{src: @room.user.avatar, style: "width: 60px; height: 60px;"}
                - else
                  %img.s-info-head__user-avatar{src: "http://no-bird.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png", style: "width: 60px; height: 60px;"}
                .s-info-head__user-name
                  = @room.user.first_name
            .s-info-head__content
              %span
                ゲスト #{@room.person_capacity}人
              %span
                #{@room.bedroom_number}寝室
              %span
                ベッド#{@room.bed_number}台
              %span
                #{@room.bathroom_number}バスルーム

          .s-info-overview
            .s-info-overview__title
              宿泊先の説明欄
            .s-info-overview__text
              = simple_format(@room.overview)
            .s-info-overview__message
              %a{ href: "#"}
                ホストに連絡

          .s-info-amenity
            .s-info-amenity__title
              アメニティ・設備
            .amenity-items
              .amenities.clearfix
                %p - アメニティ
                - @room.amenities.each do |amenity|
                  .amenities__item
                    = amenity.content
              .available-spaces.clearfix
                %p - 設備
                - @room.available_spaces.each do |available_space|
                  .available-spaces__item
                    = available_space.content
              .safety-amenities.clearfix
                %p - 安全設備
                - @room.safety_amenities.each do |safety_amenity|
                  .safety-amenities__item
                    = safety_amenity.content

            .s-info-amenity__detail
              18項目を全て表示

          .s-info-cancel
            .s-info-cancel__title
              キャンセル
            .s-info-cancel__detail
              %p
                普通 - チェックイン7日前までキャンセル無料
              %ul.s-info-cancel__list
                %li
                  チェックイン７日前までに解約すれば、手数料全てを含んだ全額が返金されます。
                %li
                  チェックイン7日以内に解約すると、手数料を含む宿泊料金の合計の50%が返金されます。
                %li
                  宿泊の途中でキャンセルすると、一部返金される場合もあります。

          .s-info-review
            .review-head.clearfix
              .review-head__title
                レビュー●●●件
              .review-head-left
                .review-head-item.clearfix
                  .review-head-item__content
                    正確さ
                  .review-head-item__rate
                    ★★★★★
                .review-head-item.clearfix
                  .review-head-item__content
                    コミュニケーション
                  .review-head-item__rate
                    ★★★★★
                .review-head-item.clearfix
                  .review-head-item__content
                    清潔さ
                  .review-head-item__rate
                    ★★★★★
              .review-head-right
                .review-head-item.clearfix
                  .review-head-item__content
                    ロケーション
                  .review-head-item__rate
                    ★★★★★
                .review-head-item.clearfix
                  .review-head-item__content
                    チェックイン
                  .review-head-item__rate
                    ★★★★★
                .review-head-item.clearfix
                  .review-head-item__content
                    コスパ
                  .review-head-item__rate
                    ★★★★★

            .review-main
              .review-user-info.clearfix
                .review-user-info__avatar
                  %img.s-info-head__user-avatar{src: "http://no-bird.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png", style: "width: 60px; height: 60px;"}
                .review-user-info__name
                  Jane
                .review-user-info__date
                  2018年4月
              .review-rate
                ★★★★★
              .review-comment
                最高な宿でした。

            .review-main
              .review-user-info.clearfix
                .review-user-info__avatar
                  %img.s-info-head__user-avatar{src: "http://no-bird.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png", style: "width: 60px; height: 60px;"}
                .review-user-info__name
                  Jane
                .review-user-info__date
                  2018年4月
              .review-rate
                ★★★★★
              .review-comment
                ゴミのような宿でした。

            .review-main
              .review-user-info.clearfix
                .review-user-info__avatar
                  %img.s-info-head__user-avatar{src: "http://no-bird.com/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png", style: "width: 60px; height: 60px;"}
                .review-user-info__name
                  Jane
                .review-user-info__date
                  2018年4月
              .review-rate
                ★★★★★
              .review-comment
                まぁ普通かな。

      .s-main-right
        .s-main-right-body
          .s-main-right-head
            .div
              %span.s-main-right-head__fee
                = humanized_money @room.day_fee_cents
              %span.s-main-right-head__one /1泊
            .s-main-right-head__rate ★★★★ 300
          = form_for @room_appointment, url: room_room_appointments_preview_path(room_id: @room.id) do |f|
            / = f.hidden_field :room_id, value: @room.id
            .reservation-form
              .reservation-date
                .reservation-date__info
                  日付
                .reservation-date__input
                  .reservation-date__check-in.clearfix
                    = f.label :チェックイン日
                    .reservation-date__select
                      = f.collection_select :check_in_date, @room_calendars, :id, :date
                  .reservation-date__check-in.clearfix
                    = f.label :チェックアウト日
                    .reservation-date__select
                      = f.collection_select :check_out_date, @room_calendars, :id, :date

                  .date-preview
                    .date-preview-frame
                      %span.date-preview-arrow
                        →
                      .date-preview-in
                        %span.checkin-preview
                      .date-preview-out
                        %span.checkout-preview

              .reservation-person-number
                .reservation-person-number__info
                  人数
                .person-number-input
                  .person-number-frame
                    %span.adult-output
                      大人:1人
                    %span.child-output
                    %span.infant-output
                    .i.fa.fa-angle-down

                .number-of-people.show-input-modal
                  .number-of-people__body
                    .adult-form.clearfix
                      .adult-form__info
                        大人
                      .adult-count
                        = f.button "−", type: "button", class: "adult-count__spinner-down reservation-spinner"
                        = f.number_field :number_of_adult, class: "adult-count__input reservation-number-input", value: "1", tabindex: "1"
                        = f.button "+", type: "button", class: "adult-count__spinner-up reservation-spinner"
                    .child-form.clearfix
                      .child-form__info
                        %p 子ども
                        %p.child-form__description 年齢2 - 12
                      .child-count
                        = f.button "−", type: "button", class: "child-count__spinner-down reservation-spinner"
                        = f.number_field :number_of_child, class: "child-count__input reservation-number-input", value: "0", tabindex: "1"
                        = f.button "+", type: "button", class: "child-count__spinner-up reservation-spinner"
                    .infant-form.clearfix
                      .infant-form__info
                        %p 乳幼児
                        %p.infant-form__description 2歳未満
                      .infant-count
                        = f.button "−", type: "button", class: "infant-count__spinner-down reservation-spinner"
                        = f.number_field :number_of_infant, class: "infant-count__input reservation-number-input", value: "0", tabindex: "1"
                        = f.button "+", type: "button", class: "infant-count__spinner-up reservation-spinner"

                    .number-of-people__description
                      最大#{@room.person_capacity}名まで宿泊可能。乳幼児は人数にカウントされません。

                    .show-input-close
                      %button.show-input-close__button{type: "button"}
                        %span 閉じる

              .reservation-submit
                = f.button "予約をリクエスト", class: "reservation-submit__button"
              .reservation-subscription
                まだ請求は発生しません。

      #floating-panel
      #map
      / %script{:src => "https://maps.googleapis.com/maps/api/js"}
      %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyArVU9AkzUD4Z_iyc4p840kvJhD-I7zoYM"}

= render partial: './footer'

= javascript_include_tag "room-show.js"
= javascript_include_tag "room-show-spinner.js"
= javascript_include_tag "google_map_API.js"
= javascript_include_tag "favorite_modal.js"
