= javascript_include_tag "signup.js"
= javascript_include_tag "login.js"

%header
  .header-body
    .header-left
      .head-logo
        = link_to root_path, style: "", class: "head-logo-i" do
          %img.head-logo-i_image{src: "http://www.logoeps.net/wp-content/uploads/2016/12/airbnb_logo.png", style:  "width: 50px; height: 50px;"}
      = form_tag( "#", method: :get, class: "head-search") do
        %span.fa.fa-search.head-search__fa
        %input.head-search__input{autocomplete: "off", name: "q", placeholder: "「東京」などのエリアを入力", required: "", type: "search"}

    .header-right
      .head-right-body
        %ul.head-right-i
          - if user_signed_in?
            %li
              .nav-i
                = link_to edit_user_path(current_user) do
                  %button{"aria-busy": "false", "aria-expanded": "true", "aria-haspopup": "true", type: "button", class: "nav-i__button-avatar"}
                    %img{src: "https://a0.muscache.com/defaults/user_pic-50x50.png?v=3", style: "width: 30px; height: 30px;", class: "nav-i__avatar"}
            %li
              .nav-i
                = link_to destroy_user_session_path, method: :delete do
                  %button{"aria-busy": "false", "aria-expanded": "true", "aria-haspopup": "true", type: "button"}
                    ログアウト
            %li
              .nav-i
                = link_to room_type_rooms_path do
                  %button{"aria-busy": "false", "aria-expanded": "true", "aria-haspopup": "true", type: "button"}
                    ホストを始める
          - else
            %li
              .nav-i.login-show
                %button{"aria-busy": "false", "aria-expanded": "true", "aria-haspopup": "true", type: "button"}
                  ログイン
            %li
              .nav-i.signup-show
                %button{"aria-busy": "false", "aria-expanded": "true", "aria-haspopup": "true", type: "button"}
                  アカウント作成

            %li
              .nav-i.login-show
                %button{"aria-busy": "false", "aria-expanded": "true", "aria-haspopup": "true", type: "button"}
                  ホストを始める
          / ↓共通表示
          %li
            .nav-i
              %button{"aria-busy": "false", "aria-expanded": "true", "aria-haspopup": "true", type: "button"}
                ヘルプ

