.signup-modal-wrapper#signup-modal
  .modal
    .close-button.clearfix
      %i.fa.fa-2x.fa-times

    .facebook-link
      %a{href: "Facebook"} Facebook
      %span または
      %a{href: "Google"} Google
      %span で登録

    %p.select-line または

    .signup-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .signup-field
          .signup-field__input
            = f.text_field :first_name, autofocus: true, class: "signup-field__text", placeholder: '名'
            %i.fa.fa-user

        .signup-field
          .signup-field__input
            = f.text_field :last_name, autofocus: true, class: "signup-field__text", placeholder: '姓'
            %i.fa.fa-user

        .signup-field
          .signup-field__input
            = f.email_field :email, class: "signup-field__text", placeholder: 'メールアドレス'
            %i.fa.fa-envelope

        .signup-field
          .signup-field__input
            = f.password_field :password, autocomplete: "off", class: "signup-field__text", placeholder: 'パスワードを入力'
            %i.fa.fa-key

        .signup-field
          .signup-field__input
            = f.password_field :password_confirmation, autocomplete: "off", class: "signup-field__text", placeholder: 'パスワードを入力(確認)'
            %i.fa.fa-key

        %p.birthday-title
          生年月日
        %p.birthday-info
          ご登録は18歳以上の方に限ります。誕生日は非公開です。

        .field-birthday
          = f.select :birthday_month, options_for_select((1..12).map{|n| ["#{n}月", n]}),  {}, { autofocus: 'true', class: 'field-birthday__month'}
          = f.select :birthday_day, options_for_select((1..31).map{|n| ["#{n}日", n]}),  {}, { autofocus: 'true', class: 'field-birthday__day'}
          = f.select :birthday_year, options_for_select((-2018..-1900).map{|n| ["#{- n.to_i}年", - n.to_i]}),  {}, { autofocus: 'true', class: 'field-birthday__year'}

        .signup-button
          = f.submit "登録", class: 'signup-button__submit'
